<body>
  <div class="sobre">
    <h1>Proteccion Animal Peluditos Unidos</h1>
    <br>
    <p>Nosotros en Proteccion Animal Peluditos Unidos somos un equipo dedicado y apasionado de trabajadores que
      comparten un amor inquebrantable por los animales. Para nosotros, trabajar en el refugio no es solo un trabajo, es
      una vocación, un compromiso con los más vulnerables de nuestra sociedad: los animales sin hogar, heridos o
      maltratados.</p>
    <br>
    <p>Cada uno de nosotros tiene una historia única de cómo nos enamoramos de los animales y decidimos dedicar nuestras
      vidas a ayudarlos. Desde rescatistas intrépidos hasta especialistas en comportamiento animal compasivos, cada
      miembro de nuestro equipo aporta sus habilidades y pasión para hacer del refugio un lugar seguro y amoroso para
      todos los animales que atendemos.</p>
    <br>
    <p>Nuestra pasión por nuestro trabajo se refleja en cada acción que tomamos. Desde cuidar a los animales enfermos
      hasta encontrar hogares amorosos para aquellos que están listos para ser adoptados, cada tarea se realiza con
      amor, dedicación y el firme compromiso de hacer una diferencia en la vida de los animales que tocamos.</p>
    <br>
    <p>Para nosotros, no hay mayor recompensa que ver a un animal maltratado comenzar a confiar nuevamente en los
      humanos, o presenciar la alegría en los ojos de una familia adoptiva cuando encuentran a su nuevo compañero
      peludo. Nuestra pasión por los animales nos impulsa a superar los desafíos y a seguir adelante, sabiendo que cada
      vida que salvamos marca una diferencia en el mundo.</p>
    <br>
    <p>ACLARACION: ESTO ES UN PROYECTO UNIVERSITARIO</p>

  </div>
  <!-- Carrusel -->
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="contenedor">
          <!-- Card 1 -->
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Bryan Misael</mat-card-title>
              <mat-card-subtitle>Morales Martin</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/about-BryanA.jpeg" alt="Photo of a Shiba Inu" width="399"
              height="300">
            <mat-card-content>
              <br>
              <p class="descripcion">
                Un verdadero amante de los animales, cuya pasión por los gatos lo llevó a convertirse en un estilista
                excepcional. Su habilidad para calmar incluso a los gatos más nerviosos y su atención meticulosa a los
                detalles hacen que cada visita al refugio sea una experiencia tranquila y agradable para nuestros amigos
                felinos. Bryan encuentra alegría en su trabajo al ver a los gatos transformarse en su sala de belleza,
                mostrando todo su esplendor y personalidad.
              </p>
              <p class="descripcion">Reflexion:<span class="frase">"Cada corte es una obra de amor, resaltando la
                  singularidad de
                  cada gato."</span></p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="action">
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Estilistagatos')">Estilista de gatos</span></button>
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('CuidadorAnimales')">Cuidador de Animales</span></button>
            </mat-card-actions>
          </mat-card>
          <!-- Card 1.2 -->
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title>Gustavo Adolfo</mat-card-title>
              <mat-card-subtitle>Avendaño Guevara</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/about-GustavoA.jpeg" alt="Photo of a Shiba Inu" width="399"
              height="300">
            <mat-card-content>
              <br>
              <p class="descripcion">
                El corazón del refugio, un verdadero héroe para los animales necesitados. Su determinación y compasión
                lo llevan a las situaciones más difíciles para rescatar y rehabilitar a animales heridos y abandonados.
                Como director del refugio, su liderazgo inspirador y su compromiso inquebrantable con el bienestar
                animal guían a todo el equipo hacia un objetivo común: brindar amor y cuidado a quienes más lo
                necesitan.
              </p>
              <p class="descripcion">Reflexion:<span class="frase">"Cada rescate llena mi corazón de gratitud y
                  esperanza."
                </span></p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="action">
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Rescatista')">Rescatista</span></button>
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Director')">Director del Refugio</span></button>
            </mat-card-actions>
          </mat-card>
          <!-- Card 1.3 -->
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title>Naomi</mat-card-title>
              <mat-card-subtitle>Hernandez Romo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/about-NaomiA.jpeg" alt="Photo of a Shiba Inu" width="399"
              height="300">
            <mat-card-content>
              <br>
              <p class="descripcion">
                Naomi es una luz radiante en el refugio, con una pasión contagiosa por ayudar a los animales y a la
                comunidad. Su dedicación como estilista en perros va más allá de la estética, ya que se esfuerza por
                resaltar la belleza única de cada canino y transmitir su historia a través de su apariencia. Además,
                como coordinadora de eventos, Naomi organiza actividades que no solo recaudan fondos vitales para el
                refugio, sino que también crean conciencia y unen a la comunidad en torno a la causa animal.
              </p>
              <p class="descripcion">Reflexion:<span class="frase">"Cada cepillado cuenta una historia de afecto y
                  confianza."</span></p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="action">
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Estilistaperros')">Estilista de perros</span></button>
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Coordinadora')">Coordinadora de Eventos y Recaudación de
                  Fondos</span></button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="carousel-item">
        <div class="contenedor">
          <!-- Card 1 -->
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image4"></div>
              <mat-card-title>Pedro Roman</mat-card-title>
              <mat-card-subtitle>Garcia Delgado</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/about-PedroA.jpeg" alt="Photo of a Shiba Inu" width="398"
              height="300">
            <mat-card-content>
              <br>
              <p class="descripcion">
                El guardián de la salud y el bienestar de nuestros amigos peludos en el refugio. Su amor por los
                animales y su habilidad técnica como veterinario garantizan que cada mascota reciba la atención médica
                adecuada y el cuidado compasivo que se merecen. Además, como administrador de recursos, Pedro maneja con
                sabiduría los recursos del refugio, asegurando que cada centavo se utilice de manera eficiente para
                apoyar a los animales y al equipo que los cuida.
              </p>
              <p class="descripcion">Reflexion:<span class="frase">"Por un mundo de pelos"</span></p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="action">
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Veterinario')">Veterinario</span></button>
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Administrador')">Administrador de Recursos</span></button>
            </mat-card-actions>
          </mat-card>
          <!-- Card 1.2 -->
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image5"></div>
              <mat-card-title>Ricardo Andres</mat-card-title>
              <mat-card-subtitle>Veloz Hernandez</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/about-VelozA.jpeg" alt="Photo of a Shiba Inu" width="399"
              height="300">
            <mat-card-content>
              <br>
              <p class="descripcion">
                Un alma gentil con una habilidad innata para conectarse con los animales en un nivel profundo. Su
                valentía y determinación lo llevan a las situaciones más difíciles para rescatar a aquellos que han sido
                maltratados o abandonados. Como especialista en comportamiento animal, Ricardo trabaja pacientemente
                para comprender las necesidades individuales de cada animal y ayudarlos a superar cualquier trauma
                pasado, guiándolos hacia una vida plena y feliz. Su presencia tranquilizadora y su amor incondicional
                son un faro de esperanza para cada animal que llega al refugio.
              </p>
              <p class="descripcion">Reflexion:<span class="frase">"Con la fé de un mañana sin piojos"</span></p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="action">
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Rescatista')">Rescatista</span></button>
              <button class="redes" mat-button><span class="blan" (click)="asignarProfesion('Especialista')">Especialista en Comportamiento Animal</span></button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="desplaso">
      <button class="carousel-control-prev flecha" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="prev">
        <span class="carousel-control-prev-iconNO" aria-hidden="true">
          <div class="especif">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-left-long"></i></div>
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next flecha" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="next">
        <span class="carousel-control-next-iconNO" aria-hidden="true">
          <div class="especif">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-right-long"></i></div>
        </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  
  <!-- Componente Hijo -->
  <app-info [profesion]="profesion"></app-info>

  <script src="https://kit.fontawesome.com/93ee190ee2.js" crossorigin="anonymous"></script>
</body>