<div class="contenedor">
    <!-- <h1 class="animate__animated animate__backInDown">{{heroe.nombre}} <span> {{heroe.aparicion}}</span></h1> -->
    <br>
    <div class="card mb-3">
        <div class="row g-0">
        <div class="col-md-4 imagen">
            <img src="{{mascota.img}}" class="img-fluid rounded-start" alt="..." width="300px">
            <br>
            <a [routerLink]="['/mascotas']" class="btn btn-outline-primary btn-block">Regresar</a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{mascota.nombre}}</h5>
                  <p class="card-text">{{mascota.raza}}, {{mascota.color}}</p>
                  <p class="card-text">{{mascota.descrip}}</p>
                  <p class="card-text">{{mascota.edad}}</p>
                <p class="card-text"><small class="text-body-secondary">{{mascota.tiempo}}</small></p>
            </div>
        </div>
        </div>
    </div>
</div>

<h1 class="titulos">CITAS</h1>


<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <ng-container *ngFor="let cita of recuperarCitas()">
      <div class="col">
        <div class="card h-100 shadow cita-card">
          <div class="card-body">
            <div class="info">
              <p><strong>Nombre:</strong> {{ cita.Nombre }}</p>
              <p><strong>Fecha de registro:</strong> {{ cita.FechaActual }}</p>
              <p><strong>Hora de registro:</strong> {{ cita.Hora }}</p>
              <p><strong>Correo:</strong> {{ cita.Correo }}</p>
              <p><strong>Teléfono:</strong> {{ cita.Telefono }}</p>
              <p><strong>Fecha de la cita:</strong> {{ cita.FechaCita }}</p>
              <p><strong>Hora de la cita:</strong> {{ cita.HoraCita }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div> 


