nav {
    margin-bottom: 0;
}
.menu {
    background-color: #072724;
    color: white;
}
.buscar {
    color: white;
    background-color: #4b744e;
}
.donar {
    color: white;
    background-color: #74624b;
}
.nav-link {
    color: white !important;
}