<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
    <link rel="stylesheet" href="../../assets/scss/bootstrap.css">
    <!-- <link rel="stylesheet" href="src/assets/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="src/assets/css/bootstrap.css"> -->
</head>
<body>
    <div class="titulo">
        <div>
            <h1>Conoce a tu nuevo mejor amigo</h1>
        </div>
    </div>
    <br><br>
    <div id="componentes">
        <div class="card-columns">
            <div class="card">
              <img src="assets/img/border.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Border Collie</h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/img/british.jpg" class="card-img" alt="...">
            </div>
            <div class="card">
              <img src="assets/img/bulldog-frances.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bulldog frances</h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/img/bulldog.jpg" class="card-img" alt="...">
            </div>
            <div class="card">
              <img src="assets/img/cocker.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cocker Spaniel</h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/img/dalmata.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dalmata</h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/img/gato-gris.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gato domestico</h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/img/gato-jack.jpg" class="card-img" alt="...">
            </div>
            <div class="card">
              <img src="assets/img/gato-naranja.jpg" class="card-img" alt="...">
            </div>
            <div class="card">
              <img src="assets/img/golden.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Golden Retriever</h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/img/labrador-negro.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Labrador negro</h5>
              </div>
            </div>
            <div class="card">
                <img src="assets/img/ragdoll.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ragdoll</h5>
                </div>
            </div>
            <div class="card">
              <img src="assets/img/labrador.jpg" class="card-img" alt="...">
            </div>
            <div class="card">
              <img src="assets/img/samoyedo.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Samoyedo</h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/img/siberiano-naranja.jpg" class="card-img" alt="...">
            </div>
        </div>

    </div>
    <table>
      <th colspan="2"></th>
    </table>

    

    <script src="js/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="js/cositas.js"></script>
</body>