<h1 class="titulo" [ngStyle]="{'color': 'green', 'text-align': 'center', 'padding': '20px', 'font-weight': 'light',  }">
    <i class="fas fa-paw"></i> Conoce un Nuevo Amigo <i class="fas fa-paw"></i>
</h1>
<!-- <img src="assets/img/samoyedo.jpg" alt=""> -->
<div class="card-group row row-cols-1 row-cols-lg-3 g-4 contenedor">
    @for (m of array; track m; let i=$index) {
        <div class="col">
            <div class="card" style="width: 23rem; height: 40rem;">
                <img src="{{m.img}}" class="card-img-top" alt="..." height="250">
                <div class="card-body">
                  <h5 class="card-title">{{m.nombre}}</h5>
                  <p class="card-text">{{m.raza}}, {{m.color}}</p>
                  <p class="card-text">{{m.tiempo}}</p>
                  <p class="card-text descripcion">{{m.descrip}}</p>
                  <p class="card-text"><small class="text-muted">{{m.edad}}</small></p>
                  <a class="btn conocer"  [routerLink]="['/mascota',i]">Quiero conocerte</a>
                </div>
            </div>
        </div>
    }

    <!-- <img src="assets/img/border.jpg" alt=""> -->

    <!-- edad: string;
    color: string;
    raza: string;
    tiempo: string; 
    descrip: string;
    img: string;  -->
</div>