<section class="hero">
    <video autoplay loop muted>
        <source src="../../assets/media/video2.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos HTML5.
    </video>

    <div class="overlay">
        <h1>Un amor incondicional</h1>
        <p>La adopción no solo cambia su vida, también transforma la tuya.</p>
    </div>
</section>
<section class="frases">
    <div>
        <div class="imagen">
            <img src="../../assets/img/mascota.png" alt="">
        </div>
        <div>
            <h4>Transforma vidas</h4>
            <p>Convientete en su protector</p>
        </div>
    </div>
    <div>
        <div class="imagen">
            <img src="../../assets/img/cuidado-de-mascotas.png" alt="">
        </div>
        <div>
            <h4>Tu mejor amigo</h4>
            <p>Comparte ese amor incondicional</p>
        </div>
    </div>
    <div>
        <div class="imagen">
            <img src="../../assets/img/juguetes-interactivos.png" alt="">
        </div>
        <div>
            <h4>Momentos divertidos</h4>
            <p>Conviente cada momento en uno especial</p>
        </div>
    </div>
    <div>
        <div class="imagen">
            <img src="../../assets/img/amor.png" alt="">
        </div>
        <div>
            <h4>El amor sana</h4>
            <p>Todos tienen una oportunidad más</p>
        </div>
    </div>
</section>
<section class="info">
    <div>
        <h3>Bienvenido a nuestro refugio</h3>
        <h1>ASOSIACIÓN PAPU</h1>
        <p>En nuestro refugio, creemos firmemente en brindar un refugio seguro y amoroso para los animales más necesitados. Desde perros y gatos hasta conejos y aves, cada criatura que llega a nuestras puertas recibe el cuidado y la atención que merece.</p>
        <img src="../../assets/img/perro-gato.jpeg" alt="" class="imagen1">
    </div>
    <div>
        <img src="../../assets/img/perro-gato-1.jpg" alt="" class="imagen2">
        <p>Nuestra misión es simple pero poderosa: rescatar, rehabilitar y reubicar a nuestros amigos peludos en hogares amorosos. Cada animal que entra en nuestras instalaciones es recibido con los brazos abiertos y tratado con respeto, compasión y amor.</p>
        <button type="button" class="btn btn-outline-success" [routerLink]="['/mascotas']">Conocer nuevo amigo</button>
    </div>
</section>
<section class="servicios">
    <div>
        <h3>Nuestros servicios</h3>
        <p class="descrip">En Asosiación PAPU, nos enorgullece ofrecer una variedad de servicios diseñados para cuidar y apoyar a nuestros amigos peludos. Desde la llegada de un animal hasta su adopción, estamos aquí para proporcionarles todo lo que necesitan para prosperar.</p>
        <!-- <img src="../../assets/img/perro-gato.jpeg" alt="" class="imagen1"> -->
    </div>
    <div class="apartado">
        <div class="tipose-servicios">
            <div class="fila1">
                <div>
                    <div>
                        <img src="../../assets/img/seguridad-animal.png" alt="">
                    </div>
                    <h3>Rescate animal</h3>
                    <p>Nos dedicamos a rescatar a todos los animales que se encuentran en un estado indefenso, para cuidarlo y protegerlo</p>
                </div>
                <div>
                    <div>
                        <img src="../../assets/img/casa.png" alt="">
                    </div>
                    <h3>Adopción</h3>
                    <p>Para nosotros es importante encontrarle un nuevo hogar a cada uno de nuestros amigos, ellos merecen una segunda oportunidad</p>
                </div>
            </div>
            <div class="fila1">
                <div>
                    <div>
                        <img src="../../assets/img/medicamento (1).png" alt="">
                    </div>
                    <h3>Ciudado medico</h3>
                    <p>Es importante que cada uno tenga una vida saludable, por eso es importante mantener un estado medico estable</p>
                </div>
                <div>
                    <div>
                        <img src="../../assets/img/prueba.png" alt="">
                    </div>
                    <h3>Seguimiento</h3>
                    <p>Una vez adoptados nos aseguramos que se encuentren en un hogar seguro y lleno de amor. NO al maltrato animal</p>
                </div>
            </div>
        </div>
        <div>
            <img src="../../assets/img/servicios-perro.png" alt="">
        </div>
    </div>
</section>

<section class="productos">
    <div class="contenedor-productos">
        <h1>LAS MEJORES MARCAS DE ALIMENTO PARA PERRO, SEGÚN PROFECO </h1> <br>

        @if(productosService.productos.length > 0) {
            <table class="tabla-alimentos">

                <thead>
                    <th>Marca</th>
                    <th>ROYAL CANIN MEDIUM</th>
                    <th>Hukanuba</th>
                    <th>ROYAL CANIN MAXI</th>
                    <th>PRO PLAN PURINA</th>
                    <th>Prairie Nature's Varlety</th>
                </thead>

                <tbody>
                    @for(producto of productosService.productos; track producto) {
                        <tr>
                            <th>{{producto.titulo}}</th>
                            <td>{{producto.marca1}}</td>
                            <td>{{producto.marca2}}</td>
                            <td>{{producto.marca3}}</td>
                            <td>{{producto.marca4}}</td>
                            <td>{{producto.marca5}}</td>
                        </tr>
                    }                 
                </tbody>

            </table>
        }
        @else {
            <p>No hay productos</p>
        }
    </div>  
</section>