<section class="hero">
    <video autoplay loop muted>
        <source src="../../assets/media/video2.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos HTML5.
    </video>

    <div class="overlay">
        <h1>Un amor incondicional</h1>
        <p>La adopción no solo cambia su vida, también transforma la tuya.</p>
    </div>
</section>
<section class="frases">
    <div>
        <div class="imagen">
            <img src="../../assets/img/mascota.png" alt="">
        </div>
        <div>
            <h4>Transforma vidas</h4>
            <p>Convientete en su protector</p>
        </div>
    </div>
    <div>
        <div class="imagen">
            <img src="../../assets/img/cuidado-de-mascotas.png" alt="">
        </div>
        <div>
            <h4>Tu mejor amigo</h4>
            <p>Comparte ese amor incondicional</p>
        </div>
    </div>
    <div>
        <div class="imagen">
            <img src="../../assets/img/juguetes-interactivos.png" alt="">
        </div>
        <div>
            <h4>Momentos divertidos</h4>
            <p>Conviente cada momento en uno especial</p>
        </div>
    </div>
    <div>
        <div class="imagen">
            <img src="../../assets/img/amor.png" alt="">
        </div>
        <div>
            <h4>El amor sana</h4>
            <p>Todos tienen una oportunidad más</p>
        </div>
    </div>
</section>
<section class="info">
    <div>
        <h3>Bienvenido a nuestro refugio</h3>
        <h1>NOMBRE PAPU</h1>
        <p>En nuestro refugio, creemos firmemente en brindar un refugio seguro y amoroso para los animales más necesitados. Desde perros y gatos hasta conejos y aves, cada criatura que llega a nuestras puertas recibe el cuidado y la atención que merece.</p>
        <img src="../../assets/img/perro-gato.jpeg" alt="" class="imagen1">
    </div>
    <div>
        <img src="../../assets/img/perro-gato-1.jpg" alt="" class="imagen2">
        <p>Nuestra misión es simple pero poderosa: rescatar, rehabilitar y reubicar a nuestros amigos peludos en hogares amorosos. Cada animal que entra en nuestras instalaciones es recibido con los brazos abiertos y tratado con respeto, compasión y amor.</p>
    </div>
</section>